<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Movimientos</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card center >
    <ion-card-header color="secondary">
      Historial de movimientos
    </ion-card-header>
    <ion-card-content>
      <ion-list *ngFor="let data of dataMovement">
        <ion-item>
          <ion-label>Número de cuenta</ion-label>
          <ion-label>{{data.number_account}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Valor transferido</ion-label>
          <ion-label>{{data.val_transfer}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Fecha de transacción</ion-label>
          <ion-label>{{data.date_creation}}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
